@model DodajTakmicenje 
@{
}
<table class="table table-striped">
    <tr>
        <td>Dodavanje takmicenja</td>
    </tr>
    <tr>
        <form asp-action="Snimi" method="post">
            <table class="table table-striped">
                <tr>
                    <td width="150">Predmet:</td>
                    <td><select asp-for="@Model.PredmetID" asp-items="@Model.Predmeti"></select></td>
                </tr>
                <tr>
                    <td>Skola:</td>
                    <td><select asp-for="@Model.SkolaID" asp-items="@Model.Skole"></select></td>
                </tr>
                <tr>
                    <td>
                        Datum:
                    </td>
                    <td>
                        <input asp-for="@Model.Datum" readonly/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary">Snimi</button>
                    </td>
                </tr>
            </table>
        </form>
    </tr>
</table>