@model PrikazTakmicenjaVM
@{
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Skola</th>
            <th>Razred</th>
            <th>Datum</th>
            <th>Predmet</th>
            <th>Najbolji ucesnik (Skola | Odjeljenje | Ime i prezime)</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Rows)
        {
            <tr>
                <td>@item.Skola</td>
                <td>@item.Razred</td>
                <td>@item.Datum</td>
                <td>@item.Predmet</td>
                <td>@item.NajboljiUcesnik</td>
                <td><a asp-action="Rezultati" asp-route-id="@item.TakmicenjeID">Rezultat</a></td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Dodaj" class="btn btn-primary" asp-route-id="@Model.SkolaID">Dodaj</a>